#root {
  max-width: 920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

h1 {
  font-size: 2rem;
}

h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

p {
  margin: 0.3em;
}

.gridParent {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 0.8rem;
}

.left {
  text-align: right;
  margin-right: 2rem;
  font-weight: 320;
}

.bold {
  font-weight: 600;
}

.it {
  font-style: italic;
}

.breakline {
  height: 1px;
  background-color: rgb(117, 117, 117);
  margin: 1rem 0;
}

ul {
  margin: 0;
  padding-left: 3ch;
}