#root {
  max-width: 920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

h1 {
  font-size: 2rem;
}

h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

p {
  margin: 0.3em;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridParent {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 0.8rem;
}

.left {
  text-align: right;
  margin-right: 2rem;
  margin-top: 0;
  font-weight: 320;
}

.bold {
  font-weight: 600;
}

.em {
  font-style: italic;
}

.breakline {
  height: 1px;
  background-color: rgb(117, 117, 117);
  margin: 1rem 0;
}

ul {
  margin: 0;
  padding-left: 3ch;
}

input, textarea {
  border-radius: 3px;
  margin: 0.1rem 0;
  padding: 0.35rem;
  border: 1px solid #c8cacc;
  outline-color: rgba(0, 123, 255, .25);
  font: inherit;
  field-sizing: content;
}

.headerButtonGroup {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

button {
  display: inline-block;
  margin: 0.5rem 0 0 0.5rem;
  color: #ffffff;
  min-width: 11ch;
  font-size: 1.05rem;
  padding: 0.3lh 0;
}
.blueBg {
  background-color: #0d6efd;
}
.greenBg {
  background-color: #198754;
}
.redBg {
  background-color: #dc3545;
}

button:disabled {
  opacity: 0.5; 
  cursor: 'not-allowed';
  pointer-events: none;
}

input:disabled, textarea:disabled {
  color: inherit;
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
  resize: none;
}

.block {
  display: block;
}

.label {
  margin-top: 0.1rem;
  padding: 0.35rem;
}